
*.pyc
maidwhite.egg-info/
.python-version

/GithubCredentials.py
/scripts/TwitterCredentials.py
/dist/
/build/
/MANIFEST
/PyGithub.egg-info/
/.coverage
/.idea
/developer.github.com/
/gh-pages/
/doc/doctrees/
.vscode*
.venv

